$black: #000000;
$black-two: #333333;
$blue-origin: #233343;
$dark: #161c35;
$dark-blue: #16212d;
$dark-two: #283645;
$dark-two-10: rgba(40, 54, 69, 0.1);
$dark-slate-blue: #1d2e5b;
$dark-blue-grey-three: #121936;
$dark-blue-grey: #192144;
$dark-blue-grey-two: #141b3b;
$greyish-brown: #444444;
$very-dark-brown: #010000;
$black-30: rgba(0, 0, 0, 0.3);
$black-border: rgba(0, 1, 1, 0.15);

$white: #ffffff;
$white-origin:#f2f2f2;
$very-light-pink: #f1f1f1;
$pale-grey: #edeff6;
$white-15: rgba(255, 255, 255, 0.15);
$grey-light: #e5e5e5;
$grey-light-10:rgba(229,229,229,0.1);
$grey-bullets:#bec2c7;
$grey-button-text:rgba(255, 255, 255, 0.3);
$grey-button-text-30:rgba(40, 54, 69, 0.3);

$greyish-brown-30: rgba(68, 68, 68, 0.3);
$greyish-brown-30: rgba(68, 68, 68, 0.3);

$french-blue: #4758a9;
$aqua-marine: #56c3b2;
$seafoam-blue: #63d1bb;
$light-grey-blue: #81b3d2;
$green-apple: #81e31e;
$green-check: #3dc644;
$jade-green:#2aab6d;
$green-button:#1c9b5e;


$lipstick: #d22856;
$medium-pink: #ed5565;
$salmon: #f97676;
$red: #d4345f;
$red-no:#f25b26;

$mango-two: #ff8d30;
$mango: #ffa530;
$mango-three: #ffbd30;
$light-gold: #ffd74b;
