.contacts {
  width: 100%;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: $dark-two;
  margin: 0;
  padding: 0;
  margin-top: 44px;
  margin-bottom: 35px;
}

.contacts__list {
  width: 247px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 0;

  margin-left: 35px;
  margin-bottom: 15px;
  padding: 0;
}

.contacts__item {
  width: 250px;
  margin-bottom: 25px;
}

.contacts__item-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $dark-two;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.contacts__title-adress {
  margin-bottom: 8px;
}

.contacts__item-link {
  display: block;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $lipstick;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.contacts__item-link:hover {
  color: $dark-two;
  text-decoration: underline;
}

.contacts__item-link:active {
  color: $grey-button-text-30;
  opacity: 0.3;
  text-decoration: none;
}


.contacts__map {
  width: 100%;
  max-width: 320px;
  position: relative;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 123px;
    top: 0;
    left: 0;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.contacts__map-frame {
  width: 320px;
  height: 167px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 660px;
  }

  .contacts__title {
    width: 370px;
    font-size: 40px;
    line-height: 46px;
    margin: 0 auto;
    padding: 0;
    margin-top: 47px;
    margin-bottom: 45px;
  }

  .contacts__list {
    width: 571px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 21px;
    padding: 0;
  }

  .contacts__item {
    width: 250px;
    margin-bottom: 48px;
  }

  .contacts__adress {
    margin: 0 auto;
    margin-bottom: 20px;
  }


  .contacts__item-title {
    margin-bottom: 8px;
  }

  .contacts__title-email {
    margin-bottom: 10px;
  }

  .contacts__title-adress {
    margin-bottom: 10px;
  }

  .contacts__map {
    width: 100%;
    max-width: 660px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 660px;
      height: 123px;
      top: -9px;
      left: 0;
      background-image: url("../img/bg-triangle-white-footer.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .contacts__map-frame {
    width: 660px;
    height: 365px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 100%;
    margin: 0 auto;
  }

  .contacts__wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .contacts__title {
    width: 500px;
    font-size: 50px;
    margin: 0 auto;
    padding: 0;
    margin-top: 56px;
    margin-bottom: 44px;
  }

  .contacts__list {
    width: 940px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 21px;
    padding: 0;
  }

  .contacts__item {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
  }

  .contacts__phone {
    order: -2;
  }

  .contacts__adress {
    order: -1;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .contacts__item-title {
    margin-bottom: 19px;
  }

  .contacts__map {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin-top: -24px;
    margin-bottom: 40px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      max-width: 1200px;
      top: -1px;
      left: 0;
      background-image: url("../img/bg-triangle-white-footer.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .contacts__map-frame {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 500px;
  }
}
