.description {
  width: 280px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.description__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $lipstick;
  text-transform: uppercase;
  position: absolute;
  top: 35px;
  left: 48px;
}

.description__text {
  display: block;
  width: 280px;
  height: 200px;
  border: solid 2px $grey-light;
  margin-top: 74px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-two;
  padding-left: 19px;
  padding-top: 15px;
  resize: none;
  margin-bottom: 50px;
}

.description__text:hover {
  border: solid 2px $dark-two;
}

.description__text:active {
  border: solid 2px $lipstick;
}

@media (min-width: $tablet-width) {
  .description {
    width: 620px;
    display: flex;
    margin: 0 auto;
    border: solid 2px $grey-light;
    margin-bottom: 66px;
  }

  .description__title {
    width: 260px;
    display: block;
    position: static;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 32px;
  }

  .description__text {
    width: 496px;
    height: 192px;
    margin: 0 auto;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    width: 960px;
  }

  .description__text {
    width: 816px;
    height: 124px;
    margin-bottom: 47px;
  }
}
