.downloads {
  width: 320px;
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 10;
}

.downloads__wrapper {
  background-color: $dark-blue;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.downloads__button {
  text-decoration: none;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  width: 281px;
  height: 55px;
  border: solid 3px #ffffff;
  border-radius: 30px;
  margin-bottom: 22px;

  &:hover {
    box-shadow: 0 5px 7px 0 rgba(1, 1, 1, 0.75);
    border: solid 3px #ffffff;
    background-color: #ffffff;
    color: $lipstick;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}


.downloads__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 281px;
  padding: 0 20px;
  list-style: none;
  margin: 0;
  margin-top: 11px;
  margin-bottom: 4px;

}

.downloads__description {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  max-width: 280px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .downloads {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 22px;
  }

  .downloads__wrapper {
    width: 320px;
    background-color: transparent;
    padding-left: 0;
  }

  .downloads__button {
    width: 300px;
    margin-bottom: 35px;
  }

  .downloads__list {
    width: 245px;
    justify-content: space-between;
    margin: 10px auto;
  }

  .downloads__description {
    max-width: 300px;
    font-size: 18px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 93px;
  }
}

@media (min-width: $desktop-width) {
  .downloads {
    margin: 0;
    margin-top: 52px;
    padding: 0;
  }

  .downloads__button {
    font-size: 21px;
    line-height: 18px;
    font-weight: 700;
    padding: 12px 24px 16px 32px;
    margin: 0;
    margin-bottom: 57px;
  }

  .downloads__list {
    margin-bottom: 26px;
  }

  .downloads__description {
    margin-left: 5px;
    margin-bottom: 87px;
  }


  .downloads__button:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
