.form-page__container {
  width: 320px;
  height: 230px;
  display: flex;
  margin: 0 auto;
  margin-top: -66px;
  align-items: center;
}

.form-page__title {
  width: 226px;
  height: 82px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width:$tablet-width) {
  .form-page__wrapper {
    width: 660px;
    height: 393px;
    background-position-x: center;
    background-position-y: top;
    background-size: 660px;
  }

  .form-page__container {
    width: 660px;
    height: 460px;
  }


  .form-page__title {
    width: 475px;
    height: 168px;
    font-size: 50px;
    font-weight: 300;
    line-height: 59px;
    margin-top: 45px;
  }
}

@media (min-width:$desktop-width) {

}
