.likes__button {
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  border: none;
  background-color: transparent;
}

.likes__counter {
  font-size: 12px;
  line-height: 24px;
  color: $lipstick;
}
