.logo {
  display: block;
  width: 147px;
  height: 40px;
}

.logo--phone {
  display: block;
  width: 75px;
  height: 22px;
}

.logo-image {
  fill: $white;
}

.logo:hover .logo-image {
  fill: $lipstick;
}

.logo:active .logo-image {
  fill: $white;
  opacity: 0.3;
}

.logo-footer__image {
  fill: $dark-two;
  display: block;
}

.logo-footer:hover .logo-footer__image {
  fill: $lipstick;
}

.logo-footer:active .logo-footer__image {
  fill: $dark-two;
  opacity: 0.3;
}

.logo-image--tablet {
  display: none;
}

.logo-image--desktop {
  display: none;
}

.logo-footer {
  width: 147px;
  height: 40px;
  margin-top: 40px;
}

.logo-footer__image--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo {
    display: block;
    width: 147px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .logo--form {
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .logo-image--phone {
    display: none;
  }

  .logo-image--tablet {
    display: block;
    width: 147px;
    height: 40px;
  }

  .logo-image--desktop {
    display: none;
  }

  .logo-footer__image--desktop {
    display: none;
  }

  .logo-footer {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin-top: 27px;
    margin-left: 0;
  }

  .logo-image--phone {
    display: none;
  }

  .logo-image--tablet {
    display: none;
  }

  .logo-image--desktop {
    display: block;
    width: 147px;
    height: 40px;
  }

  .logo-footer__image {
    display: none;
  }

  .logo-footer__image--desktop {
    display: block;
  }

  .logo-footer {
    padding-left: 5px;
  }
}
