.main-menu {
  width: 320px;
  margin: auto;
  position: relative;
  z-index: 10;
  color: $white-15;
  background-color: $blue-origin;
}

.main-menu--opened {
  background-color: $blue-origin;
}

.main-menu--closed {
  background-color: $black-30;
}

.main-menu--closed .main-menu__list {
  display: none;
}

.main-menu--closed .main-menu__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background: none;

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    right: 17px;

    width: 36px;
    height: 3px;


    background-color: $white;
    box-shadow: 0 9px 0 0 $white, 0 18px 0 0 $white;
  }

  &:hover::before {
    background-color: $lipstick;
    box-shadow: 0 9px 0 0 $lipstick, 0 18px 0 0 $lipstick;
  }

  &:active::before {
    background-color: $lipstick;
    box-shadow: 0 9px 0 0 $lipstick, 0 18px 0 0 $lipstick;
    opacity: 0.3;
  }
}


.main-menu--opened .main-menu__toggle {
  width: 30px;
  height: 24px;
  border: none;
  background: none;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 30px;
    right: 17px;
    width: 29px;
    height: 5px;

    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $lipstick;
  }

  &:active::before,
  &:active::after {
    background-color: $lipstick;
    opacity: 0.3;
  }
}

.main-menu--nojs .main-menu__toggle {
  display: none;
}

.main-menu__top-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 68px;
  box-shadow: 0 1px 0 0 $black;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
  margin-bottom: 1px;
}

.main-menu__link {
  margin: 0;
  padding: 15px 22px;
  display: block;
  color: $white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  box-shadow: 0 1px 0 0 $black, inset 0 1px 0 0 $white-15;
}

.main-menu__link:hover {
  color: $lipstick;
}

.main-menu__link:active {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .main-menu {
    width: $tablet-width;
    margin: 0 auto;
    z-index: 10;
  }

  .main-menu__top-bar {
    height: 110px;
    align-items: center;
  }

  .main-menu__toggle {
    width: 50px;
    height: 24px;
    border: none;
    background: none;
  }

  .main-menu--closed .main-menu__toggle {
    width: 50px;
    height: 24px;
    border: none;
    background: none;

    &::before {
      content: "";

      position: absolute;
      top: 45px;
      right: 17px;

      width: 50px;
      height: 3px;

      background-color: $white;
      box-shadow: 0 9px 0 0 $white, 0 18px 0 0 $white;
    }
  }

  .main-menu--opened .main-menu__toggle {
    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 53px;
      right: 16px;
      width: 30px;
      height: 5px;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: $lipstick;
    }
  }
}


@media (min-width: $desktop-width) {
  .main-menu {
    width: 100%;
    margin: 0;
    background-color: $black-30;

    margin-bottom: 50px;
  }

  .main-menu__wrapper {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .main-menu__top-bar {
    margin: 0;
    padding: 0;
  }

  .main-menu__toggle {
    display: none;
  }

  .main-menu--closed .main-menu__list {
    display: flex;
  }

  .main-menu__list {
    display: flex;
    width: 621px;
    justify-content: space-between;
    align-items: center;
    border: none;
  }

  .main-menu__link {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    text-transform: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .main-menu__link--active {
    border-bottom: 1px solid $white;
  }

  .main-menu__link:active {
    color: $white;
    opacity: 0.3;
  }
}
