.page-footer {
  width: 320px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  align-items: center;
}

.footer-index {
  display: none;
}


@media (min-width: $tablet-width) {
  .page-footer {
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 38px;
    padding: 0;
    padding-left: 20px;
    padding-right: 10px;
  }

  .footer-index {
    margin-top: 30px;
  }
}


@media (min-width: $desktop-width) {
  .page-footer {
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 27px 0;
    align-items: flex-start;
  }
}
