.page-header {
  width: 320px;
  color: #ffffff;
}
.page-header__container {
  padding-top: 109px;
  background-image: url("./img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__container--main {
  padding-top: 109px;
  background-position-y: -65px;
}

.page-header__img {
  width: 320px;
  height: 314px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
}

.page-header__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
