.photo {
  &__img {
    width: 320px;
    height: 137px;
  }

  &__description {
    width: 280px;
    background-color: $white-origin;
    font-size: 14px;
    line-height: 24px;
    color: $dark-two;
  }

  &__autor {
    font-weight: bold;
  }

  &__time {
    font-weight: 300;
  }

  &__comment {
    font-size: 12px;
    font-weight: 300;
  }
}
