.photo-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: $grey-light;
  margin: 0 auto;
  border-bottom: 1px solid $grey-light-10;
}

.photo-form__img {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 374px;
  margin-top: 18px;
  margin-bottom: 42px;
}

.photo-form__wrapper {
  display: flex;
  width: 320px;
  flex-direction: column;
  margin: 0 auto;
}

.photo-form__list-button {
  width: 225px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  padding-right: 17px;
  margin-bottom: 18px;
  margin-top: 4px;
  padding-left: 8px;
}

.photo-form__button {
  width: 44px;
  height: 44px;
  background: transparent;
  border: none;
  overflow: hidden;
  padding: 0;
}

.photo-form__button:hover .photo-form__button-svg {
  opacity: 0.5;
  fill: $dark-two;
}

.photo-form__button:active .photo-form__button-svg {
  opacity: 1;
  fill: $lipstick;
}

.photo-form__button-svg {
  fill: $dark-two;
  opacity: 0.3;
}

.photo-form__button--active .photo-form__button-svg {
  fill: $lipstick;
  opacity: 1;
}


.photo-form__list-range {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 56px;
  position: relative;
}

.photo-form__item-range {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 319px;
    height: 1px;
    background-color: $dark-two;
    opacity: 0.1;
    bottom: -15px;
    left: -40px;
  }
}


.photo-form__item-range-progress {
  position: relative;
  display: block;
  margin: 15px 0;
  width: 240px;
  height: 2px;
  background: $dark-two;
}

.photo-form__item-range-progress:active {
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.photo-form__item-range-needle {
  position: absolute;
  top: 9px;
  right: 35px;
  width: 14px;
  height: 14px;
  border: 2px solid $lipstick;
  border-radius: 50%;
  background: $grey-light;
}

.photo-form__item-range-needle:active{
  background: $lipstick;
}


.photo-form__item-range--fill {
  display: none;
}

.photo-form__item-range--contrast {
  display: none;
}

@media (min-width: $tablet-width) {
  .photo-form {
    width: 660px;
    height: 511px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    border-bottom: 1px solid $grey-light-10;
  }

  .photo-form__wrapper {
    flex-direction: row;
  }

  .photo-form__list-button {
    flex-direction: column;
    margin-top: 64px;
    margin-left: 24px;
    margin-bottom: 39px;
  }

  .photo-form__button {
    width: 22px;
    height: 22px;
    margin-bottom: 51px;
  }

  .photo-form__button-svg {
    width: 22px;
    height: 22px;
    fill: $lipstick;
    opacity: 1;
  }

  .photo-form__button-svg--contrast {
    width: 16px;
    height: 16px;
  }

  .photo-form__img {
    width: 300px;
    height: 400px;
    margin-top: 57px;
    margin-left: 21px;
  }

  .photo-form__list-range {
    margin: 0;
    margin-top: 60px;
    margin-right: 32px;
  }

  .photo-form__item-range {
    margin-bottom: 40px;

    &::after {
      width: 275px;
      left: -55px;
      bottom: -20px;
    }
  }

  .photo-form__item-range-progress {
    width: 202px;
  }

  .photo-form__item-range-needle--crop {
    right: 43px;
  }

  .photo-form__item-range-needle--fill {
    left: 24px;
  }

  .photo-form__item-range-needle--contrast {
    right: 93px;
  }

  .photo-form__item-range--fill {
    display: block;
  }

  .photo-form__item-range--contrast {
    display: block;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .photo-form {
    width: 940px;
    margin: 0 auto;
    padding-left: 80px;
  }

  .photo-form__img {
    margin: 0;
    margin-top: 54px;
  }

  .photo-form__wrapper {
    width: 472px;
    margin: 0 auto;
    padding: 0;
  }

  .photo-form__list-button {
    padding: 0;
    width: 50px;
    margin-top: 51px;
    margin-bottom: 126px;
    margin-left: 24px;
    margin-right: 4px;
  }

  .photo-form__button {
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
  }

  .photo-form__button-svg--crop {
    width: 44px;
    height: 44px;
  }

  .photo-form__button-svg--fill {
    width: 48px;
    height: 43px;
  }

  .photo-form__button-svg--contrast {
    width: 32px;
    height: 32px;
  }

  .photo-form__list-range {
    margin-right: 0;
    margin-left: 39px;
  }

  .photo-form__item-range {
    margin-bottom: 39px;
    &::after {
      width: 410px;
      left: -96px;
    }
  }

  .photo-form__item-range-progress{
    width: 288px;
  }

  .photo-form__item-range-needle--crop {
    left: 70px;
  }

  .photo-form__item-range-needle--fill {
    left: 245px;
  }

  .photo-form__item-range-needle--contrast {
    right: 115px;
  }
}
