@import "colors";

.social {
  list-style: none;
}

.icon-twitter {
  width: 18px;
  height: 14px;
}

.icon-facebook {
  width: 9px;
  height: 18px;
}

.icon-youtube {
  width: 15px;
  height: 13px;
}
