.social {
  list-style: none;
}

.social__icon--twitter {
  width: 18px;
  height: 14px;
}

.social__icon--facebook {
  width: 9px;
  height: 18px;
}

.social__icon--youtube {
  width: 15px;
  height: 13px;
}
