.social {
  list-style: none;
  display: flex;
  width: 172px;
  justify-content: space-between;
  margin: 0;
  margin-top: 43px;
  padding: 0;
}

.social__link {
  width: 46px;
  height: 46px;
  border: 3px solid $dark-two-10;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon {
  fill: $red;
}

.social__icon--twitter {
  width: 18px;
  height: 14px;
}

.social__icon--facebook {
  width: 9px;
  height: 18px;
}

.social__link:hover {
  border: 3px solid $dark-two;
  border-radius: 50px;
}

.social__link:active {
  opacity: 0.1;
}

.social__icon--youtube {
  width: 15px;
  height: 13px;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
    margin-right: 20px;
  }
}


@media (min-width: $desktop-width) {
  .social {
    margin-right: 2px;
    margin-top: 4px;
    margin-left: 14px;
  }
}
